body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

#logo {
  float: left;
  margin-left: 15px;
  width: 50px;
  height: 50px;
}

#logo1 {
  margin-left: 125px;
}

.menu .nav-link {
  color: white;
}

.menu .nav-link:hover {
  background-color: white;
  color: black;
}
.logo-image {
  width: 100px; /* Ajusta el tamaño del logo según tus necesidades */
  height: auto;
}
html,
body,
#root {
  height: auto;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  min-height: auto;
}

.footer {
  margin-top: auto;
  background-color: #343a40; /* Cambia el color de fondo según tus necesidades */
  color: #fff; /* Cambia el color del texto según tus necesidades */
  padding: 20px;
  
}

.footer-content {
  margin-top: 20px;
}

.footer-bottom {
  padding: 10px 0;
  background-color: #212529; /* Cambia el color de fondo según tus necesidades */
}

.footer-bottom p {
  margin-bottom: 0;
}