body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

#logo {
  float: left;
  margin-left: 55px;
  width: 100px;
  height: 100px;
}

#logo1 {
  margin-left: 125px;
}


#menu {
  margin:auto;
  padding-left:20px;
  padding-top:5px;   
  height:5px;
  width:320px;
  justify-content: center;
  display: flex;
}
#menu ul{
  list-style:none; /* Eliminamos los bullets */
  margin:0px; /* Quitamos los margenes */
  padding:0px; /* Quitamos el padding */
}
#menu ul li {
  float:left; /* Hacemos que el menu se muestre horizontal */
  padding-left:10px;
  padding-right:10px;
  padding:20px ;
}
#menu ul li a{
  text-decoration:none;
  color:#CCCCCC;
  font-weight:bold;
}
#menu ul li a:hover{
  color:#FFFFFF;
  padding-top:20px ;
  background-color: whitesmoke;
  color: black;
  padding:20px ;
  padding-top: 50px;
}